.inbox-message-title {
  font-size: 0.85rem;
}

.inbox-message-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dismiss-icon {
  color: var(--ion-color-danger);
}
