<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (data?.length) { @for (item of data; track item; let i = $index) {

  <app-mm-card>
    <p>{{ item.title }}</p>
    <ion-button color="medium" (click)="dismissCard(item.id, i)"
      >Dismiss Card</ion-button
    >
  </app-mm-card>
  } } @else {
  <p>You're all caught up. No notifications</p>
  }
</ion-content>
